/* MAIN COMPONENTS */
/* COLORS AND THEMES */
/* HOME PAGE COMPONENTS */
/* MAIN NAVIGATION */
/* BUTTONS */
/* SEARCH BAR */
/* LOGO */
/* QUOTATION */
/* POSTS */
/* COMMENTS */
/* POST NAVIGATION */
/* LISTINGS */
/* LISTS */

// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');


/* MAIN COMPONENTS */
html { height: 90%; }

.w {
  max-width: 720px;
  margin: 0 auto;
  @media screen and (max-height: 600px) { padding-top: 1em; padding-bottom: 1em; }
  @media screen and (max-width: 400px) { padding-left: 1em; padding-right: 1em; }
  @media screen and (min-height: 601px) { padding-top: 4em; padding-bottom: 4em; }
  @media screen and (min-width: 401px) { padding-left: 2em; padding-right: 2em; }
}

body {
    font-family: Inter, helvetica, sans-serif;
    font-size: normal;
    line-height: 1;
    margin: 0;
    min-height: 100%;
}

pre, code {
  font-family: "Roboto Mono", "Courier New", monospace;
  border-radius: 0.5rem;
}

div.highlight > pre.highlight > code {
  color: white;
}

div.in-post-code > figure.highlight > pre > code {
  color: white;
}

div.in-post-code > pre {
  color: white;
}

p code { font-size: inherit; }

blockquote {
  font-family: Cutive, Inter, helvetica, sans-serif;
  font-style: normal;
  word-spacing: 3px;
  border: thin solid black;
  font-size: 0.8rem;
  border-left: 5px solid #ccc;
  border-radius: 0.5rem;
  margin: 60px 20px;
  padding: 10px 20px;
  p { margin: 0.5em 0; }
}

h2 { margin-top: 5rem; }
h3, h4, h5 { margin-top: 1.5rem; }
hr { border-top: 1px var(--text) solid; margin: 1em 0; }
p { margin: 1em 0; line-height: 150%; text-align: left; }
figcaption { text-align: center; margin-top: -1rem; padding-bottom: 2rem; }
li { margin: 0.4em 0; }
table, th, td { border: thin solid black; padding: 0.4em; border-collapse: collapse; }
iframe { display: block; border-style: none; margin: 1rem auto; }

img:not(#dice):not(.gravatar) {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 2rem 0;
}

.gallery { 
    figure { padding: 0 0 6rem 0; }
    figcaption { margin: -1rem 0 0 0; }
}



/* COLORS AND THEMES */
html {
    --bg: #FFF; --bg-secondary: #f3f4f6; --headings: #1e293b;
    --text: #374151; --text-secondary: #6b7280; --links: #6366f1;
    --vidlinks: darkgreen;
    --highlight: #FFECB2; --code-text: #9D174D; --share-text: #999;
    --search-bar-bg: #EFEFEF; --warning-bgc: #E9E9E9; --warning-tc: black;
    --textbox-bgc: #FFC0C0; --textbox-sc: #C09090;
    --hover-bgc: #EEEEEE; --blog-post-card-bc: black;
    --owner-comment: #11AD66; --important-comment: #4178C7;
}

@mixin dark-appearance {
  html, body  {
      --bg: #1f242A; --bg-secondary: #323945; --headings: #74c0fc;
      --text: #adb5bd; --text-secondary: #9CA3AF; --links: #91A7FF;
      --vidlinks: lightgreen;
      --highlight: #41C7C7; --code-text: #91A7FF; --share-text: #C4C4C4;
      --search-bar-bg: #767676; --warning-bgc: #404040; --warning-tc: white;
      --textbox-bgc: #9A0F0F; --textbox-sc: #660A0A;
      --hover-bgc: grey; --blog-post-card-bc: #CACACA;
      --owners-comment: #18FA95; --important-comment: #9CC5FF;
  };
}

html[data-theme="dark"] { @include dark-appearance; }

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] { @include dark-appearance; }
}

html.transition, html.transition *, html.transition *:before, html.transition *:after {
    transition: all 2000ms !important; transition-delay: 0 !important;
}

html, body { background-color: var(--bg); color: var(--text); }
h1, h2, h3, h4, h5, h6 { color: var(--headings); }
h1 { line-height: 0.9; }
p, small, li, hr, table, figcaption { color: var(--text); }
blockquote { background-color: var(--bg-secondary); }
mark { background-color: var(--highlight); }
cite { letter-spacing: -0.5px; }
a { color: var(--links); }
a.ext_link { text-decoration: underline; text-decoration-thickness: 3px; }
a.wik_link { text-decoration: underline; text-decoration-thickness: 3px; text-decoration-style: dotted; }
a.vid_link { text-decoration: underline; text-decoration-thickness: 3px; text-decoration-style: dashed; }
*:target { background-color: var(--bg-secondary); }


/* HOME PAGE COMPONENTS */
.home-newest-content {
    p:first-of-type { font-family: "Roboto Mono", "Courier New", monospace;
                      margin-top: -1.2em; font-size: 80%; }
    p { line-height: 130%; font-size: 120%; }
    p:last-of-type { text-align: right; font-weight: 600; text-transform: uppercase; font-size: 120%; }
    a { text-decoration: none; }
}

.home-date { 
    font-family: "Roboto Mono", "Courier New", monospace;
    @media screen and (max-width: 450px) { font-size: 80%; }
}
.post-list-item { 
    a { text-decoration: none; }
    p { line-height: 150%; 
    @media screen and (max-width: 450px) { font-size: 90%; }
    @media screen and (min-width: 451px) { font-size: 110%; }
    }
}

.credits {
  color: var(--text);
  margin: 4rem auto 1rem auto;
  @media screen and (max-width: 500px) { font-size: 0.5rem; }
  @media screen and (min-width: 501px) { font-size: 0.8rem; }
  p { text-align: center; }
  a { color: var(--text); text-decoration: none; font-weight: bold; }
  a:hover { color: var(--links); }
}


/* MAIN NAVIGATION */

.dashed { border-top: 3px var(--text) solid; margin: 0.5em 0; }
.dropdown { position: relative; display: inline-block; }
.dropdown:hover .dropdown-content { display: block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  a {
      color: var(--links);
      padding: 12px 16px;
      font-size: 0.8em;
      text-decoration: none;
      display: block;
  }
  a:hover {
      background-color: var(--bg-secondary);
  }
}


/* BUTTONS */

@mixin buttons {
  color: var(--text);
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
  margin: 1em;
  position: fixed;
  border: 2px transparent solid;
  outline: none;
}

.theme-toggle {
  @include buttons; right: 0; top: 0;
  @media screen and (max-width: 800px) { display: none; }
  :hover { color: var(--links); outline: none; }
  :focus { outline: none; }
}

.post-randomizer { 
  @include buttons; right: -4px; top: 40px; 
  @media screen and (max-width: 800px) { display: none; }
  :hover { outline: none; }
  :focus { outline: none; }
}

.all-entries {
  @include buttons; right: -6px; top: 55px; 
  @media screen and (max-width: 800px) { display: none; }
  :hover { outline: none; }
  :focus { outline: none; }
}

/* SEARCH BAR */

.search-container {
	display: flex; 
	justify-content: center;
	align-items: center;
	height: 50px;

    input[type="text"] {
        border-width: 0px; border-radius: 5px;
        height: 30px; background-color: var(--search-bar-bg);
    }

}


/* LOGO */

@mixin logo {
  font-family: "Inter", "Times New Roman", Times, serif;
  font-size: 150%; color: var(--text); background-color: transparent;
  padding: 4px; cursor: pointer; 
  margin: 0.5em; position: fixed;
  left: 0; top: 0;
  border: 2px transparent solid; outline: none;
  @media screen and (max-width: 950px) { display: none; }
}

.logo-corner { @include logo; }
.logo-corner-rotating { 
  animation: animated_logo 3s linear forwards;
  @include logo;
}
.logo-corner a, .logo-corner-rotating a { text-decoration: none; color: var(--text); }

@keyframes animated_logo {
  0% { rotate: -10deg; }
  70% { rotate: 3deg; }
  100% { rotate: 0; }
}


/* QUOTATION */

.quotation {
	margin-top: 20px; margin-bottom: 50px;
	border: 1px solid gray; padding: 20px;
}

#quotationElement { line-height: 1.3rem; }
#authorElement { 
    margin-top: 5px; text-align: right; font-style: italic; 
    ::before{ content: "– "; }
}

blockquote {
  font-family: Cutive, Inter, helvetica, sans-serif;
  font-style: normal;
  word-spacing: 3px;
  border: thin solid black;
  font-size: 0.8rem;
  border-left: 5px solid #ccc;
  border-radius: 0.5rem;
  margin: 60px 20px;
  padding: 10px 20px;
  p { margin: 0.5em 0; }
}

.wwm-signature { text-align: right; margin-top: -2em; margin-bottom: 4em; }


/* POSTS */

.subtitle {
  font-size: 1.6em;
  color: var(--headings);
  margin-top: -0.5em;
  line-height: 0.9;
}

.correction {
  color: red;
  text-decoration-style: wavy;
}

.in-post-info {
	font-family: "Roboto Mono", "Courier New", monospace;
	margin-top: -1.2em; margin-bottom: 3em;
	// font-variant: small-caps;
    text-transform: uppercase; font-size: 0.9rem;
	a { text-decoration: none; font-weight: bold; font-size: 0.9rem; }
}

.in-post-text p { font-size: 130%; }
.in-post-text li { line-height: 130%; font-size: 110%; }
.in-post-text li li { line-height: 130%; font-size: 100%; }
.in-post-text details { font-size: 130%; }

.in-post-tags {
	margin-top: 5rem; display: flex; 
    margin-bottom: 5rem;
	justify-content: center; align-items: center;
	height: 80px;
    a {
    display: inline-block;
	text-decoration: none;
	padding: .4em .5em;
	margin: .5em 0 0 0;
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	border-width: 1px;
	border-style: solid;
    :hover { background-color: var(--hover-bgc); border-color: var(--hover-bgc); }
    }
}

.in-post-warning {
	display: block; padding: 0.5rem; 
	background-color: var(--warning-bgc);
	font-size: 80%; color: var(--warning-tc);
	margin: 3rem 0;
}

.in-post-textbox {
	display: block; padding: 2rem; 
	background-color: var(--textbox-bgc);
	margin: 3rem 0;
    box-shadow: 5px 5px 3px var(--textbox-sc);
}

.in-post-code {
    overflow-x: auto; padding: 10px;
    background-color: black;
}

.lineno { color: yellow;}

.footnotes {
    font-size: 70%;
    border-top: 1px solid var(--text);
    padding: 0.3em 0;
    margin: 100px 0;
}

.iframe-container {
  display: flex;
  justify-content: center;
}

.iframe-container iframe {
  width: 32%;
  height: 172px;
  border: none;
}

/* COMMENTS */
.comments {
	display: block; border-style: none solid none solid;
	border-width: 1px; border-color: gray;
	margin: 3rem 1rem; padding: 1rem;
    h2 { margin: -1.2rem 0 6rem 0; text-align: center; }
}

img.gravatar {
  margin-right: 1em;
}

@mixin comm_author { font-family: "Roboto Mono", "Courier New", monospace; font-size: 100%; }
@mixin comm_content { font-size: 100%; }
p.comm_author0 { @include comm_author; display: flex; align-items: center; }
p.comm_author0 a { @include comm_author; color: var(--text); }
p.comm_author_edit0 { @include comm_author; }
p.comm_author_edit0 a { @include comm_author; color: var(--text); }
p.comm_content0 { @include comm_content; }
p.comm_author1 { @include comm_author; color: var(--owner-comment); display: flex; align-items: center; }
p.comm_author1 a { @include comm_author; color: var(--owner-comment); }
p.comm_author_edit1 { @include comm_author; color: var(--owner-comment); }
a.comm_author_edit1 a { @include comm_author; color: var(--owner-comment); }
p.comm_content1 { @include comm_content; }
p.comm_author2 { @include comm_author; color: var(--important-comment); display: flex; align-items: center; }
p.comm_author2 a { @include comm_author; color: var(--important-comment); }
p.comm_author_edit2 { @include comm_author; color: var(--important-comment); }
p.comm_author_edit2 a { @include comm_author; color: var(--important-comment); }
p.comm_content2 { @include comm_content; }
div.comments p.comm_content0:not(:last-child) { margin-bottom: 6rem; }
div.comments p.comm_content1:not(:last-child) { margin-bottom: 6rem; }
div.comments p.comm_content2:not(:last-child) { margin-bottom: 6rem; }

@mixin comment_label { display: block; padding-bottom: 3px; font-size: 80%; }
.commentFormCSS { text-align: center;
    legend { text-align: left; }
    textarea { margin-bottom: 10px; }
    label { @include comment_label; padding-top: 10px; }
    label:last-of-type { @include comment_label; padding-top: 20px; }
    input { margin-bottom: 5px; }
    #comment, #name, #password, #webpage, #email { width: 80%; }
    #captcha { width: 10%; }
    #comment { height: 10rem; }
    #name, #password, #webpage, #captcha, #email { height: 1.2rem; }
}



/* POST NAVIGATION */
.post-navigation {
	display: block; width: auto;
	overflow: hidden; margin-bottom: 5rem;
	.next { text-align: right; }
	a, p {  
		display: block; width: 50%;
		float: left; margin: 1em 0;
		text-decoration: none;
  	}
}


/* LISTINGS */

.index-legend {
	@extend .in-post-warning;
}

@media screen and (max-width: 400px) {
    .index-headers { font-size: 50%; }
}

@media screen and (max-width: 500px) {
    .index-headers { font-size: 80%; }
}

.index-headers {
	columns: 4 auto; column-fill: balance;
	margin: 3rem 6rem 0 0;
	ul { list-style-type: none; line-height: 250%; }
	a { font-size: 200%; text-decoration: none; text-transform: uppercase; font-weight: bold; }
	a:hover { display: inline-block; border: 1px solid var(--hover-bgc); background-color: var(--hover-bgc); }
	li .index-header-count { font-size: 70%; font-style: italic; }
}

.index-headers-big {
	columns: 3 auto;
	@extend .index-headers;
	ul { line-height: 120%; }
	a { font-size: 150%; text-transform: none; }
	li { display: block; padding: 10px 0; }
}

.index-headers-small {
	columns: 3 auto;
	@extend .index-headers;
	ul { line-height: 120%; }
	li { display: block; padding: 2px 0; }
	a { font-size: 120%; text-transform: none; font-weight: normal; }
}

.index-headers-nocolumns {
	margin: 3rem 0 6rem 0;
	ul { list-style-type: none; line-height: 120%; }
	a { font-size: 120%; text-decoration: none; font-weight: bold; }
	a:hover { display: inline-block; border: 1px solid var(--hover-bgc); background-color: var(--hover-bgc); }
	li .index-header-count { font-size: 70%; font-style: italic; }
}

.index-list {
    @media screen and (max-width: 450px) { font-size: 80%; }
	p { line-height: 150%; }
	h2 { margin-top: 100px; text-transform: uppercase; }
	h3 { margin-top: 60px; }
	p .index-list-date { font-family: "Roboto Mono", "Courier New", monospace; padding: 0 10px 0 0; }
	p .index-list-numbers { font-size: 80%; padding: 0 0 0 20px; }
}


/* LISTS */

ul.horizontal-list {
  display: flex; justify-content: space-between;
  margin-top: 0em; margin-left: -40px; margin-right: 0px;
  flex-wrap: wrap;
  li { display:inline; }
  li a { text-decoration: none; font-weight: normal }
}

.card {
  padding: 1em; border: 1px var(--text) solid;
  width: 10rem; margin: 0.5em; height: auto;
  text-align: center; font-size: 1em;
  align-items: center; background-color: var(--bg-secondary);
  margin-bottom: 0.8em; border-radius: 0.5em;
  .header { color: var(--links); }
  .body { font-size: 0.8em; }
  hr { margin: 0.5em 0; }
}

/* Responsive cards - one column layout on small screens */
@media screen and (max-width: 600px) {
  ul.horizontal-list li.card {
    width: 100%; display: block;
    margin-bottom: 1em; margin-left: 1em;
    a, .header { font-size: 1em; }
  }
}
