.comments {
	display: block; border-style: none solid none solid;
	border-width: 1px; border-color: gray;
	margin: 3rem 1rem; padding: 1rem;
    h2 { margin: -1.2rem 0 6rem 0; text-align: center; }
}

img.gravatar {
  margin-right: 1em;
}

@mixin comm_author { font-family: "Roboto Mono", "Courier New", monospace; font-size: 100%; }
@mixin comm_content { font-size: 100%; }

/* This is unregistered commenter */
/* This is the nickname */
p.comm_author0 { @include comm_author; display: flex; align-items: center; }
p.comm_author0 a { @include comm_author; color: grey; }
/* This is the link for editing comment */
p.comm_author_edit0 { @include comm_author; }
p.comm_author_edit0 a { @include comm_author; color: red; }
/* This is the actual comment */
p.comm_content0 { @include comm_content; }
/* This is the blog owner/admin */
p.comm_author1 { @include comm_author; color: green; display: flex; align-items: center; }
p.comm_author1 a { @include comm_author; color: green; }
p.comm_author_edit1 { @include comm_author; color: red; }
a.comm_author_edit1 a { @include comm_author; color: red; }
p.comm_content1 { @include comm_content; }
/* This is eminent registered commenter */
p.comm_author2 { @include comm_author; color: lightblue; display: flex; align-items: center; }
p.comm_author2 a { @include comm_author; color: lightblue; }
p.comm_author_edit2 { @include comm_author; color: red; }
p.comm_author_edit2 a { @include comm_author; color: red; }
p.comm_content2 { @include comm_content; }
/* This is normal registered commenter */
p.comm_author3 { @include comm_author; color: darkblue; display: flex; align-items: center; }
p.comm_author3 a { @include comm_author; color: darkblue; }
p.comm_author_edit3 { @include comm_author; color: red; }
p.comm_author_edit3 a { @include comm_author; color: red; }
p.comm_content3 { @include comm_content; }
div.comments p.comm_content0:not(:last-child) { margin-bottom: 6rem; }
div.comments p.comm_content1:not(:last-child) { margin-bottom: 6rem; }
div.comments p.comm_content2:not(:last-child) { margin-bottom: 6rem; }
div.comments p.comm_content3:not(:last-child) { margin-bottom: 6rem; }

@mixin comment_label { display: block; padding-bottom: 3px; font-size: 80%; }
.commentFormCSS { text-align: center;
    legend { text-align: left; }
    textarea { margin-bottom: 10px; }
    label { @include comment_label; padding-top: 10px; }
    label:last-of-type { @include comment_label; padding-top: 20px; }
    input { margin-bottom: 5px; }
    #comment, #name, #password, #webpage, #email { width: 80%; }
    #captcha { width: 10%; }
    #comment { height: 10rem; }
    #name, #password, #webpage, #captcha, #email { height: 1.2rem; }
}
